*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.App {
  display: contents;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  border: 1px solid #ccc;
  padding: 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0.25rem;
}

li.done {
  background: #cfc;
  text-decoration: line-through;
}

.todo-form {
  margin: 1rem 0;
}

label {
  display: block;
}

button {
  background: #cfc;
  border: 1px solid #777;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

button:active {
  background: #beb;
}

input:not([type="checkbox"]) {
  width: 100%;
  display: block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid #777;
  border-radius: 0.25rem;
}

input[type="checkbox"],
input[type="checkbox"] + label {
  display: inline;
}
